body {
    background-color: rgb(17, 16, 16);
}

header {
  height: 30%;
  width: 82%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  mask-size: 35px;
  border-radius: 10px;
  color: rgb(105, 176, 123);
  background-color: #28522a;
}

input[type=number] {
  background-color: #459548;
    border: 7px;
    color: rgb(168, 209, 178);
    padding: 5px 10px;
    font-size: 20px;
    min-width: 10%;
    border: 2px solid #28522a;
    border-radius: 7px;
    margin: 6px 3px;
    cursor: pointer;   
}

select {
   background-color: #459548;
   border: 7px;
   color: rgb(168, 209, 178);
   padding: 5px 10px;
   font-size: 20px;
   min-width: 7%;
   border: 2px solid #28522a;
   border-radius: 7px;
   margin: 6px 3px;
   cursor: pointer;
}

button {
    background-color: #459548;
    border: 7px;
    color: rgb(168, 209, 178);
    padding: 5px 10px;
    font-size: 20px;
    min-width: 10%;
    border: 2px solid #28522a;
    border-radius: 7px;
    margin: 6px 3px;
    cursor: pointer;
}